<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title d-flex justify-content-between">
          <h4 class="page-title">Ürün Listesi</h4>

          <a routerLink="/products/add" class="btn btn-success float">Ürün Ekle</a>

        </div>
      </div>
      <div class="card-body">

        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Ürün</th>
              <th scope="col">Kategori Adı</th>
              <th scope="col">Birim Fiyat</th>
              <th scope="col">Stok</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @for (item of productList;track $index )
            {
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.category?.name}}</td>
              <td>{{item.unitPrice}}</td>
              <td>{{item.unitsInStock}}</td>
              <td><a (click)="showDeletePopup(item.id!)" class="btn btn-danger">Sil</a></td>
              <td><a [routerLink]="['/products/update/',item.id]" class="btn btn-warning text-white">Güncelle</a></td>
            </tr>
            }

          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
