<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="page-title">Ürün Bilgisi Ekle</h4>
      </div>
      <div class="card-body">

        <form [formGroup]="productFormGroup" (submit)="addedForm()">

          <label>Ürün</label>
          <input type="text" class="form-control" formControlName="name" />
          <br />

          <label>Kategori Id</label>
          <input type="text" class="form-control" formControlName="categoryId" />
          <br />

          <label>Birim Fiyat</label>
          <input type="text" class="form-control" formControlName="unitPrice" />
          <br />

          <label>Stok</label>
          <input type="text" class="form-control" formControlName="unitsInStock" />
          <br />

          <button class="btn btn-success">Ekle</button>
        </form>
      </div>
    </div>
  </div>
</div>
